# damn OSX ds_store
.DS_Store

# ignore logs
/logs/*
*.log

# ignore .vagrant folder
.vagrant/
/.vagrant/

# ignore database backups
/databases/*.sql
*/**/*.sql

# ignore custom things
custom/sites.yml
custom/system.yml
custom/splash.rb
custom/commands.rb

# we want to keep the default site's skeleton however
/www/*
!/www/default
/www/default/*
!/www/default/dashboard
!/www/default/dashboard/*
/www/default/dashboard/src/package-lock.json
/www/default/dashboard/dist/css
/www/default/dashboard/dist/fonts
/www/default/dashboard/dist/fonts/*
!/www/default/index.php
!/www/default/dashboard/
!/www/default/phpinfo/

node_modules
