# damn OSX ds_store
.DS_Store

# ignore logs
/logs/*
*.log

# ignore .vagrant folder
.vagrant/
/.vagrant/

# ignore database backups
/databases/*.sql
*/**/*.sql

node_modules

# ignore custom things
custom/sites.yml
custom/system.yml
custom/splash.rb
custom/commands.rb
custom/*
!custom/sites.example.yml
!custom/splash.example.rb


# we want to keep the default site's skeleton however
/www/*
!/www/default
/www/default/*
!/www/default/dashboard
!/www/default/dashboard/*
/www/default/dashboard-tools
!/www/default/api
!/www/default/site-config
!/www/default/_src
!/www/default/dist
!/www/default/index.php
!/www/default/dashboard/
!/www/default/phpinfo/
